/* .count button{
    width: 200px;
    height: 50px;
    color: #fff;
    background-color: rgb(141, 111, 57);
    border: 1px solid burlywood;
    border-radius: 10px;
}

.count button :hover{
    background-color: transparent;
} */


.main-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}

.image-display{
    width: 90%;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(95, 63, 63);
    position: relative;
}

.image-display img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}



